.header__lang-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-decoration: none;
  transition: all .3s ease;
}

.header__lang-link:hover {
  opacity: .6;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (768 - 320)));
  }
}
