.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
  }
}
