.header {
  margin: 28px auto 56px;
  height: 52px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: calc(48px + (56 - 48) * ((100vw - 1024px) / (1280 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: calc(42px + (52 - 42) * ((100vw - 320px) / (768 - 320)));
    margin-top: calc(16px + (28 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}
