.place__box {
  flex: 1 0 340px;
}

.place__box:nth-child(2) {
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .place__box {
    flex: 1 1 400px;
    padding: 0 16px;
  }
  .place__box:nth-child(3) {
    padding: 0;
  }
}
